<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Face Detection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- CAMERA CARD -->
  <ion-card class="camera-card">
    <ion-card-header>
      <ion-card-title>Live Camera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="camera-container">
        <video #video autoplay muted playsinline></video>
        <canvas #canvas></canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- COUNT CARD -->
  <ion-card class="count-card" color="light">
    <ion-card-header>
      <ion-card-title>Total People Detected</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1 class="face-count">{{ faceCount }}</h1>
    </ion-card-content>
  </ion-card>

</ion-content>
